/*-----------------------------------------------------------------------------------------------*/

/* Grid container */
.gridContainer 
{
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-rows: auto 1fr auto; /* Header, Main, Footer take up their content height */
    grid-template-columns: auto 1fr; /* Sidebar takes up its content width */
    height: 97vh; /* Full viewport height */
}

/*-----------------------------------------------------------------------------------------------*/

/* Header styles */
.mainHeader 
{
    grid-area: header;
    flex-direction: column; /* Stack items vertically */
    border: 2px solid black; /* Add border around the header */
    text-align: center;
}

/*---------------------------------------------*/

nav ul 
{
    display: flex; /* Use flexbox to arrange items horizontally */
    list-style-type: none;
    padding: 0; /* Remove default padding */
    width: 100%; /* Occupy the full width of the container */
    justify-content: space-between; /* Spread items evenly with space between them */
}

/*---------------------------------------------*/

nav ul li 
{
    margin: 0px 80px; /* Adjust margin */
}

/*-----------------------------------------------------------------------------------------------*/

.sidebar 
{
    grid-area: sidebar;
    border: 2px solid black; /* Add border around the sidebar */
    padding: 10px 10px;
    max-width: 190px; /* Set the maximum width of the sidebar */
    margin-top: 10px;
}

/*---------------------------------------------*/

.sidebar img 
{
    max-width: 100%; /* Set the maximum width of the image to 100% of the sidebar width */
}

/*-----------------------------------------------------------------------------------------------*/

/* Main content styles */
.mainBody 
{
    grid-area: main;
    border: 2px solid black; /* Add border around the main body */
    padding: 0px 10px; /* Add padding inside the border */
    margin-top: 10px;
    margin-left: 10px;
}

/*---------------------------------------------*/

.results 
{
    border: 2px solid black; /* Add border around the results */
    padding: 0px 10px; /* Add padding inside the border */
    height: 80%;
}

/*-----------------------------------------------------------------------------------------------*/

/* Footer styles */
footer 
{
    grid-area: footer;
    border: 2px solid black; /* Add border around the footer */
    padding: 0px 10px;
    margin-top: 10px; /* Add space between mainBody and footer */
    
}

/*------------------------------------------------------------------------------------------------------*/