/*---------------------------------------------------------------------*/

body {
    display: grid;
    grid-template-areas:
        "header"
        "sidebar main"
        "footer";
    grid-template-columns: 1fr; /* Adjust as needed */
    grid-template-rows: auto 1fr auto; /* Adjust as needed */
    height: 100vh; /* Ensure full height */
}

/*----------------------------------*/

.mainHeader {
    grid-area: header;
    border: 2px solid black;
    padding: 20px;
}

/*----------------------------------*/

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

/*----------------------------------*/

.center {
    display: flex;
    margin-top: 20px;
}

/*----------------------------------*/

.mainBody {
    grid-area: main;
    border: 2px solid black;
    padding: 10px;
    margin-left: 20px; /* Add space between sidebar and main body */
}

/*----------------------------------*/

.results {
    border: 2px solid black;
    padding: 10px;
}

/*----------------------------------*/

.sidebar {
    grid-area: sidebar;
    border: 2px solid black;
    padding: 10px;
    max-width: 150px; /* Set the maximum width of the sidebar */
}

/*----------------------------------*/

.sidebar img {
    max-width: 100%;
    height: auto;
}

/*---------------------------------------------------------------------*/

footer {
    grid-area: footer;
    border: 2px solid black;
    padding: 10px;
}

/*----------------------------------*/

footer p {
    margin: 0;
}

/*---------------------------------------------------------------------*/
