.mainHeader 
{
    border: 2px solid black;
    padding: 20px;
}

h1 
{
    margin: 0;
    text-align: center;
}

nav ul 
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

/*---------------------------------------------------------------------*/

.mainBody 
{
    border: 2px solid black;
    padding: 10px;
    margin-left: 20px; /* Add space between sidebar and main body */
    flex: 2;
}

.mainBody p 
{
    margin: 0;
}

/*---------------------------------------------------------------------*/

.center 
{
    display: flex;
    margin-top: 20px;
}

.sidebar 
{
    border: 2px solid black;
    padding: 10px;
    flex: 1;
}


/*---------------------------------------------------------------------*/

footer
{
    border: 2px solid black;
    padding: 10px;
    margin-top: 20px; /* Add space between mainBody and footer */
}

footer p {
    margin: 0;
}
